<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome SchemaTech </title>
</head>
<body>
    <form th:action="@{/customlogin}" method="post">
        <a >welcome to SchemaTech ...</a>
<!--        <input th:type="text" name="user" placeholder="User Name"/>-->
<!--        <br>-->
<!--        <input th:type="password" name="pass" placeholder="User Password"/>-->
<!--        <button th:type="submit">submit</button>-->
    </form>
</body>
</html>